<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>DMSerifText-Regular.ttf</string>
		<string>DMSerifText-Italic.ttf</string>
	</array>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sevino uses the microphone to dictate your chat messages.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Sevino uses speech recognition to turn your voice into chat messages.</string>
</dict>
</plist>
